:root {
    --violet-color: rgb(166, 59, 220);
    --dark-violet-color: rgb(28,23,33);
    --warm-ff-color: #e3dccc;

}   

body {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-size: clamp(1.3rem, 1.5vw + 1rem, 1.8rem);
    margin: 0;
    font-style: normal;
    letter-spacing: 2px;
    height: auto;
    color: var(--warm-ff-color);
    background-image: linear-gradient(
        180deg,
        hsl(270deg 18% 11%) 33%,
        hsl(276deg 28% 15%) 62%,
        hsl(278deg 34% 19%) 75%,
        hsl(278deg 39% 23%) 84%,
        hsl(279deg 43% 28%) 90%,
        hsl(279deg 46% 32%) 94%,
        hsl(279deg 49% 37%) 97%,
        hsl(279deg 52% 41%) 99%,
        hsl(280deg 54% 46%) 100%,
        hsl(280deg 56% 50%) 100%,
        hsl(280deg 70% 55%) 100%
      );
    
}

h2 {
    font-size: clamp(2.5rem, 1.6vw + 1.7rem, 5rem);
}

a, footer {
    text-decoration: none;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 3% 1%;
    color: var(--warm-ff-color);
    font-size: 3vh;
}

nav, .logo-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-holder {
    flex-direction: column;
    margin-block: 3%;
}

.logo-holder .logo {
    width: 45vw;
}

.logo-holder .scroll {
    max-width: 5%;
    opacity: 0.4;
    margin-top: 10vh;
}

article {
    width: 65vw;
    margin: auto;
    text-align: center;
}

article .article-line {
    margin: 3rem auto;
    
}
/* Resets */
a, img {
    display: block; 
    height: auto;
    max-width: 100%;
}

/* Footer Adjustments */
footer .support-container, footer .contact-container {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.donate {
    border: 1px solid var(--warm-ff-color);
    border-radius: 15px;
    max-width: fit-content;
    margin: 0 auto;
    padding: 1rem;
}

.social {
    display: inline-flex;
    gap: 1rem;
}
.social img {
    width: 3vw;
    opacity: 0.6;
}