:root {
    --violet-color: rgb(166, 59, 220);
    --dark-violet-color: rgb(28,23,33);
    --warm-ff-color: #e3dccc;

}   

@font-face {
    font-family: 'Sinkin';
    src: url('Assets/SinkinSans-800Black.otf') format('opentype');
}


body {
    display: grid;
    place-items: center;
    font-family: "Sinkin", cursive;
    font-weight: 400;
    font-size: clamp(1.2rem, 4vw + 6rem, 2rem);
    overflow-x: hidden;
    font-style: normal;
    letter-spacing: 2px;
    height: 100vh;
    color: var(--warm-ff-color);
    background-image: linear-gradient(
        180deg,
        hsl(270deg 18% 11%) 33%,
        hsl(276deg 28% 15%) 62%,
        hsl(278deg 34% 19%) 75%,
        hsl(278deg 39% 23%) 84%,
        hsl(279deg 43% 28%) 90%,
        hsl(279deg 46% 32%) 94%,
        hsl(279deg 49% 37%) 97%,
        hsl(279deg 52% 41%) 99%,
        hsl(280deg 54% 46%) 100%,
        hsl(280deg 56% 50%) 100%,
        hsl(280deg 70% 55%) 100%
      );
    
}

main {
    text-align: center;
    font-weight: bold;
    margin-block: 5vh;

}
main h1 {
    margin: 0;
    font-size: clamp(1rem, 5vw + 4rem, rem);
    font-family: "Handle", cursive;
}

h2 {
    font-size: clamp(2.5rem, 3vw + 2rem, 5rem);
}

a, footer {
    text-decoration: none;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 1%;
    color: var(--warm-ff-color);
    font-size: 2vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.logo-holder .logo {
    width: 40vw;
}

/* Resets */
a, img {
    display: block; 
    height: auto;
    max-width: 100%;
}

/* Footer Adjustments */
footer .support-container, footer .contact-container {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    width: 65vw;
    margin: auto;
}


.social {
    display: inline-flex;
    gap: 1.5rem;
    
}
.social img {
    width: calc(7vh - 10px);

}

.social :last-child img {
    filter: invert(97%) sepia(6%) saturate(632%) hue-rotate(338deg) brightness(94%) contrast(88%);
}


@media (max-width: 576px) {
    .logo-holder .logo {
        width: 90%;
    }
    nav a {
        font-size: 1.3rem;
    }
    .social img {
        width: calc(8rem - 4vw);
    }
    
  }